<h2>Détails du patient</h2>

@if (!isLoading && patient) {
<mat-card class="mat-elevation-z4 patient-card">
    <mat-card-header>
        <div mat-card-avatar class="avatar-circle"
            [ngStyle]="{ background: patient.gender === 'male' ? '#2196f3' : '#e91e63' }">
            <mat-icon>{{ patient.gender === 'male' ? 'man' : 'woman' }}</mat-icon>
        </div>
        <mat-card-title>{{ patient.name?.[0]?.given?.[0] ?? '' }} {{ patient.name?.[0]?.family ?? '' }}</mat-card-title>
        <mat-card-subtitle class="ID-patient">ID: {{ patient.id }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="info-grid">
            <div>
                <p><strong>📅 Date de naissance:</strong> {{ patient?.birthDate | date:'dd/MM/yyyy' }}</p>
                <p><strong>🏙️ Lieu de naissance:</strong> {{ patient?.extension && patient?.extension.length > 0 ?
                    patient?.extension[1]?.valueAddress?.city : '' }}</p>
                <p><strong>📞 Téléphone:</strong> {{ patient?.telecom && patient?.telecom.length > 0 ?
                    patient?.telecom[0]?.value : '' }}</p>
                <p><strong>📧 Email:</strong> {{ patient?.telecom && patient?.telecom.length > 0 ?
                    patient?.telecom[1]?.value : '' }}</p>
            </div>
            <div>
                <p><strong>🆔 Identifiant médical:</strong> {{ patient?.identifier && patient?.identifier.length > 0 ?
                    patient?.identifier[0]?.value : '' }}</p>
                <p><strong>🌐 Nationalité:</strong> {{ patient?.extension && patient?.extension.length > 0 ?
                    patient?.extension[0]?.valueCodeableConcept?.coding[0].display : '' }}
                </p>
                <p><strong>👨‍👩‍👧‍👦 État civil:</strong> {{ patient?.maritalStatus?.text ||
                    patient?.maritalStatus?.display }}</p>
                <p><strong>📍 Adresse:</strong> {{ patient?.address && patient?.address.length > 0 ?
                    patient?.address[0]?.text : '' }}</p>
            </div>
            <div>
                <p><strong style="font-size: 1.3rem;">Contact d'urgence</strong></p>
                <p><strong>👤 Nom:</strong> {{ patient.contact[0]?.name?.given?.[0] }} {{
                    patient.contact[0]?.name?.family }}</p>
                <p><strong>📞 Téléphone:</strong> {{ patient.contact[0]?.telecom?.[0]?.value }}</p>
            </div>
        </div>
    </mat-card-content>
</mat-card>


<mat-card class="mat-elevation-z2">
    <mat-card-title class="title-card">📋 Rendez-vous</mat-card-title>
    @if (appointments.length > 0) {
    <mat-card-content>
        <table mat-table [dataSource]="appointments" class="rdv-table full-width">

            <!-- Date -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let rdv">
                    {{ rdv.start | date:'dd MMM yyyy, HH:mm' : 'fr-FR' }}
                </td>
            </ng-container>

            <!-- Description -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let rdv">{{ rdv.description }}</td>
            </ng-container>

            <!-- Médecin -->
            <ng-container matColumnDef="medecin">
                <th mat-header-cell *matHeaderCellDef>Médecin</th>
                <td mat-cell *matCellDef="let rdv">
                    👨‍⚕️ {{ rdv.practitionerLabel || 'Non renseigné' }}
                </td>
            </ng-container>

            <!-- Localisation -->
            <ng-container matColumnDef="localisation">
                <th mat-header-cell *matHeaderCellDef>Localisation</th>
                <td mat-cell *matCellDef="let rdv">
                    📍 {{ rdv.locationLabel || 'Non renseigné' }}
                </td>
            </ng-container>

            <!-- Statut -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Statut</th>
                <td mat-cell *matCellDef="let rdv">
                    <mat-chip [color]="rdv.status === 'booked' ? 'primary' : 'warn'" selected>
                        {{ rdv.status }}
                    </mat-chip>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
    </mat-card-content>
    }
    @else {
    <p style="padding-left: 1rem;">Aucun rendez-vous trouvé.</p>
    }
</mat-card>
}

@if (!isLoading && !patient) {
<p>Patient introuvable.</p>
}