.rdv-table th {
    background-color: #e0f0ff; // bleu clair doux
    color: black;
    font-weight: 600;
}

.rdv-table td {
    background-color: white; // fond blanc pour les lignes
    color: black;
    padding: 12px;
    border-top: 1px solid #ddd;
}

:host ::ng-deep {
    .mat-mdc-card {
        background-color: #fff;
    }

    .title-card {
        padding: 16px;
    }
}

.patient-card {
    margin-bottom: 20px;

}

.avatar-circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-grid {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 1em;
}

.info-grid p {
    margin: 4px 0;
}